.divLogin {
	border: 1px solid #cccccc;
	border-radius: 7px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
	display: inline-block;
	margin-top: 100px;
	padding: 30px;
	text-align: left;
	width: 350px;
}